 header {
  
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    width: 100%;
    box-shadow: 2px 0px 5px grey;
    align-items: center;
    background-color: #F5F5F5;
   top: 0;
   padding-top: 1rem;
   padding-bottom: 0.5rem;
  }

  .headerlogo{
    margin-left: 1rem;
    z-index: 11;
    width: 6rem;
  }